html {
    background-color: aqua;
}

h1 {
    color: chocolate;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    font-size: 30px;
}

h2 {
    color: chocolate;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    display: block;
    margin-left: 100px;
}

iframe {
    display: block;
    margin-left: 110px;

}

footer {
    font-size: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
}